.aboutme-columns{
    height: 70vh;
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutme-columns > .column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aboutme-columns > .column:first-child{
    width: 65%;
    padding-right: 5%;
    flex-shrink: 0;
}
.aboutme-columns > .column:last-child{
    flex-shrink: 1;
}

.column h2{
    margin-bottom: 2vh;
}

.aboutme-columns .column:first-child > p{
    text-align: justify;
    margin: 0;
}

.world-map{
    margin-top: 5vh;
    height: 32vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.world-map > div:first-child {
    width: 30%;
    font-weight: 700;
    font-size: 3.2vh;
    text-align: left;
    border-left: 1.2vh solid var(--primary-color);
    padding-left: 3%;
    height: auto !important;
}

.world-map > div:last-child{
    background-image: url('../images/world.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 60%;
}

.column:last-child h2{
    text-align: center;
}

.objective-text{
    text-align: center;
    font-weight: 700;
    font-size: 3.2vh;
}

.objective-line{
    width: 10vh;
    border: 0.4vh solid var(--primary-color);
}

/* PHONE */
@media only screen and (max-width: 1024px) {
    .aboutme-columns{
        flex-direction: column;
        height: auto;
    }

    .aboutme-columns > .column:first-child{
        width: 100%;
        padding: 0;
    }

    .column h2{
        text-align: center;
    }

    .world-map{
        flex-direction: column;
        height: auto;
        margin: 4vh 0
    }

    .world-map > div:first-child{
        width: 100%;
        box-sizing: border-box;
        font-size: 1.4em;
        border-width: 0.9vh;
    }

    .world-map > div:last-child{
        width: 100%;
        height: 25vh;
    }

    .objective-text{
        font-size: 1.4em;
    }

    .objective-line{
        width: 20%;
        border-width: 0.3vh;
        margin: 2.5vh auto;
    }
}