#contactSlide h2{
    text-align: center;
    margin: 10% 0 3% 0;
}

.contact-message{
    text-align: center;
    width: 50%;
    margin: auto;
}

.contact-columns{
    height: 40%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

.contact-columns .column{
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-icon{
    height: 10vh;
    aspect-ratio: 1;
    margin: 0 auto;
}


.contact-columns p{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.contact-columns button{
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
}

.footer-text{
    margin-top: 10%;
    text-align: center;
    color: #a9a9a9;
    font-size: 0.8em;
}

/* PHONE */
@media only screen and (max-width: 1024px) {
    #contactSlide h2{
        margin: 25% 0 5% 0;
    }

    .contact-message{
        width: 100%;
    }

    .contact-columns{
        margin-top: 6vh;
        flex-direction: column;
    }

    .contact-columns .column{
        width: 100%;
        margin-bottom: 5%;
    }

    .contact-icon{
        height: 8vh;
        margin: 0 auto 1.5vh auto;
    }

    .contact-columns p{
        width: 100%;
        margin: 1.5vh 0 2vh 0;
    }

    .contact-columns button{
        margin: 0 auto 5vh auto;
    }
}