/* HEADER */

.header{
    position: fixed;
    top: 0;
    height: 13%;
    width: 100%;
    background-color: var(--background-color);
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    box-sizing: border-box;
}

.header-logo{
    height: 5vh;
    aspect-ratio: 1;
    cursor: pointer;
}

.header-logo svg{
    transform: translateY(1vh);
}

.header-menu{
    height: 35px;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2vh;
}

.header-tab{
    width: auto;
    display: block;
    cursor: pointer;
}

.header-tab:hover{
    font-weight: 700;
    letter-spacing:-0.04vh;
}

.header-tab-selected{
    font-weight: 700;
    color: var(--primary-color);
}

.mobile-menu-opacifier{
    display: none;
    transition-duration: 333ms;
}

.header-menu-mobile{
    display: none;
}

.mobile-menu-container{
    display: none;
}


/* HOME */
.home-container {
	width: 100%;
	height: 60vh;
	margin-top: 11%;
    display: flex;
    flex-direction: row;
}

.portrait-container{
    aspect-ratio: 1;
    flex-shrink: 0;
    position: relative;
}

.home-text-container{
    padding: 10vh 0 10vh 10vh;
    font: 500 3vh 'Montserrat', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portrait-outline{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1.2vh solid var(--primary-color);
    box-sizing: border-box;
}

.portrait-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-image: url("../images/portrait_square.jpg");
    background-size: cover;

}

.home-text-container p {
    text-align: justify;
}

.home-text-container b {
    color: var(--secondary-color);
}

.scroll-message{
    width: 100%;
    margin-top: 12vh;
    text-align: center;
    font-size: 0.9em;
    cursor: pointer;
}

.scroll-message p{
    margin: 0 0 0.2vh 0;
}

.scroll-message svg{
    width: 3vh;
}

/* PHONE */
@media (max-width: 1024px) and (orientation: portrait) {
    /* HEADER */
    .header{
        height: 10vh;
        padding: 0 8%;
    }

    .header-logo{
        height: 6vh;
    }

    .header-menu{
        display: none;
    }

    .header-menu-mobile{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 700;
        cursor: pointer;
    }

    .header-menu-mobile-icon{
        height: 1.3vh;
        width: 1.3vh;
        margin-left: 1vh;
        position: relative;
    }

    .header-menu-mobile-icon svg{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        transition-duration: 333ms;
    }

    .mobile-menu-container{
        position: fixed;
        width: 100%;
        height: auto;
        padding-bottom: 2vh;
        border-bottom-left-radius: 3vh;
        border-bottom-right-radius: 3vh;
        z-index: 2;
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
        text-align: center;
        background-color: var(--background-color);
        transition-duration: 333ms;
        transform: translateY(-100%);
    }

    .header-tab-mobile{
        margin-bottom: 1vh;
        cursor: pointer;
    }

    .mobile-menu-opacifier{
        height: 100vh;
        width: 100vw;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }

    /* HOME */
    #homeSlide{
        height: 100vh;
    }

    .home-container{
        flex-direction: column;
        margin-top: 35%;
        height: auto;
    }

    .portrait-container{
        margin-bottom: 4vh;
    }

    .portrait-outline{
        border-width: 0.8vh;
    }

    .home-text-container{
        padding: 0;
        font-size: 1em;
    }

    .home-container p{
        margin: 4vh 0;
    }

    .scroll-message{
        font-size: 0.7em;
        margin-top: 2vh;
    }
}