#skillsSlide h2{
    margin: 10% 0 2% 0;
}

.skills-columns{
    height: auto;
    display: flex;
    flex-direction: row;
}

.skills-columns .column{
    width: 33.3%;
}

.skills-columns h3{
    text-align: left;
    border-left: 1vh solid var(--primary-color);
    padding-left: 2vh;
    margin-bottom: 3vh;
    position: relative;
}

.skills-columns h3 > svg{
    display: none;
}

.skills-list{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.skill{
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 3vh;
    padding-right: 6vh;
}

.skill-icon{
    width: 4vh;
    height: 4vh;
    transform: translateY(-0.3vh);
    margin-right: 2vh;
    flex-shrink: 0;
}

.skill-description > span{
    font-weight: 600;
    font-size: 2.6vh;
}

.skill-description p{
    text-align: justify;
    font-size: 1.8vh;
    margin-top: 1vh;
}

.skill-tags{
    line-height: 3.5vh;
}

.skill-tag{
    background-color: var(--secondary-color);
    color: white;
    font-weight: 700;
    font-size: 1.6vh;
    padding: 0.6vh 2vh;
    border-radius: 1vh;
}

.additional-skills{
    padding-left: 5vh;
}

.additional-skills ul{
    margin-top: 1vh;
    padding-left: 2.5vh;
    font-size: 1.8vh;
}

.additional-skills li{
    margin-bottom: 0.6vh;
}

.additional-skills b{
    font-weight: 600;
}


/* PHONE */
@media only screen and (max-width: 1024px) {
    #skillsSlide h2{
        margin: 13vh 0 3vh 0;
    }

    .skills-columns{
        flex-direction: column;
    }

    .skills-columns .column{
        width: 100%;
    }

    .skills-columns h3{
        border-width: 0.9vh;
        cursor: pointer;
    }

    .skills-columns h3 > svg{
        display: inline;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(20%);
        width: 2vh;
        transform: rotate(0deg);
        transition-duration: 333ms;
    }

    .skills-list{
        display: none;
        margin-bottom: 5vh;
    }

    .column:last-child .skills-list{
        margin-bottom: 0;
    }

    .skill{
        padding-right: 0;
    }

    .skill-description > span{
        font-size: 1.4em;
    }

    .skill-description p{
        font-size: 0.8em;
    }

    .skill-tags{
        line-height: 1.4em;
    }

    .skill-tag{
        font-size: 0.6em;
    }
}