:root{
    --background-color: #F5F8FA;
    --primary-color: #004FFC;
    --text-color: #000000;
}

body{
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font: 400 1em 'Montserrat', sans-serif;
}

.slide{
    height: 100vh;
    padding: 0 13%;
}


/* HEADER */

.header{
    position: fixed;
    top: 0;
    height: 13%;
    width: 100%;
    background-color: var(--background-color);
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4% 0 4%;
    box-sizing: border-box;
}

.header-logo{
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    cursor: pointer;
}

.header-menu{
    height: 35px;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-tab{
    width: auto;
    cursor: pointer;
}

.header-tab:hover{
    font-weight: 700;
}

.header-tab-selected{
    font-weight: 700;
    color: var(--primary-color);
}


/* HOME */

.home-container {
	width: 100%;
	height: 60%;
	margin-top: 11%;
    display: flex;
    flex-direction: row;
}

.portrait-container{
    aspect-ratio: 1;
    flex-shrink: 0;
    position: relative;
}

.home-text-container{
    padding: 60px 0 60px 60px;
    font: 500 1.4em 'Montserrat', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portrait-outline{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 8px solid var(--primary-color);
    box-sizing: border-box;
}

.portrait-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-image: url("../images/portrait_square.jpg");
    background-size: cover;

}

h1{
    font: 700 4em 'Montserrat', sans-serif;
    line-height: 75px;
    margin: 0;
}

.home-text-container p {
    text-align: justify;
    margin: 10px 0;
}

.home-text-container b {
    color: var(--primary-color);
}

.home-container button{
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-weight: 700;
    height: 42px;
    width: 140px;
    cursor: pointer;
}

.scroll-message{
    width: 100%;
    margin-top: 55px;
    text-align: center;
    font-size: 0.9em;
}

.scroll-message p{
    margin: 0 0 2px 0;
}

.scroll-message svg{
    width: 30px;
}